<div id="search_result" class="search_result three-col">
    <div class="col-center">
        <div data-bind="visible: suggestionSection">
        <span class="autocomplete_head"></span>
        <div id="suggestion_section" class="suggestion_section"></div>
        </div>
        <div  data-bind="visible: categorySection">
            <span  class="autocomplete_head"></span>
            <div id="category_section" class="category_section"></div>
        </div>
        <div data-bind="visible: pageSection" class="search_cms_popup">
            <span  class="autocomplete_head"></span>
            <div id="cms_section" class="cms_section"></div>
        </div>
       <div class="view-all-container">        <a data-bind="text: 'View All', attr: { href: searchPage() }" class="product-viewall"></a> </div>

    </div>
    <div class="col-right">
        <div class="col-head">
            <span data-bind="text: 'Products'" class="autocomplete_head"></span>
            <div id="auto_search_time"></div>
        </div>
        <div id="product_section" class="product_section"></div>
    </div>
</div>
