<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
    xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <event name="catalog_category_save_after">
        <observer name="save_conversion_categories_facet" instance="Conversionbox\Predictivesearch\Observer\SaveCategoryAttribute" />
    </event>
    <event name="controller_action_postdispatch">
       <observer name="All_Page_Observer" instance="Conversionbox\Predictivesearch\Observer\LoggerObserver"/>
    </event>
</config>
