<?xml version="1.0"?>
<!--
/**
 * 
 * @package Ceymox_TypesenseSearch
 * @author Ceymox Technologies Pvt. Ltd.
 */
-->
 <config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="catalog_category_save_after">
        <observer name="updateto_typesense" instance="Conversionbox\Predictivesearch\Observer\Category\CategoryChangeAfter"/>
    </event>
    <event name="catalog_category_delete_after">
        <observer name="delete_category_typesense" instance="Conversionbox\Predictivesearch\Observer\Category\CategoryChangeAfter"/>
    </event>
    <event name="cms_page_save_after">
        <observer name="updatecms_typsense" instance="Conversionbox\Predictivesearch\Observer\Page\PageChangeAfter"/>
    </event>
    <event name="cms_page_delete_after">
        <observer name="updatecms_typsense" instance="Conversionbox\Predictivesearch\Observer\Page\PageChangeAfter"/>
    </event>
    <event name="catalog_product_save_after">
        <observer name="update_typsense_product" instance="Conversionbox\Predictivesearch\Observer\Product\ProductChange" />
    </event>
    <event name="catalog_product_delete_after">
        <observer name="delete_typsense_product" instance="Conversionbox\Predictivesearch\Observer\Product\ProductChange" />
    </event>
 </config>
